<div class="section-title primary-text">{{languageService.getText("destinationDetailsText")}}</div>
<div class="mat-elevation-z5 rounded-div">
    <div class="form-container">
        <form [formGroup]="DestinationForm">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                    <div fxFlex="25" fxLayoutAlign="end center">
                        <mat-label>{{languageService.getText("cityText")}}</mat-label>
                    </div>
                    <div fxFlex="75" fxLayoutAlign="center center">
                        <mat-form-field [style.width.%]="80" appearance="outline">
                            <mat-select placeholder='{{languageService.getText("cityText")}}'
                                formControlName="destination_city_id">
                                <mat-option *ngFor="let city of (cities$ | async)" (click)="CitySelected(city)"
                                    [value]="city.city_id">
                                    {{city.city_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                    <div fxFlex="25" fxLayoutAlign="end center">
                        <mat-label>{{languageService.getText("regionText")}}</mat-label>
                    </div>
                    <div fxFlex="75" fxLayoutAlign="center center">
                        <mat-form-field [style.width.%]="80" appearance="outline">
                            <mat-select placeholder='{{languageService.getText("regionText")}}'
                                formControlName="destination_region_id" (selectionChange)="RegionSelected($event.value)">
                                <mat-option *ngFor="let region of (filteredRegions$ | async)"
                                    [value]="region.region_id">
                                    {{region.region_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                    <div fxFlex="25" fxLayoutAlign="end center">
                        <mat-label>{{languageService.getText("storeTypeText")}}</mat-label>
                    </div>
                    <div fxFlex="75" fxLayoutAlign="center center">
                        <mat-form-field [style.width.%]="80" appearance="outline">
                            <mat-select placeholder='{{languageService.getText("storeTypeText")}}'
                                formControlName="destination_store_type" (selectionChange)="StoreTypeChanged($event.value)">
                                <mat-option *ngFor="let storeType of (storeTypes$ | async)"
                                    [value]="storeType.domain_code">
                                    {{storeType.domain_value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="DestinationForm.controls.destination_store_type.value == 2">
                <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                    <div fxFlex="25" fxLayoutAlign="end center">
                        <mat-label>{{languageService.getText("storeNameText")}}</mat-label>
                    </div>
                    <div fxFlex="75" fxLayoutAlign="center center">
                        <mat-form-field [style.width.%]="80" appearance="outline">
                            <mat-select placeholder='{{languageService.getText("storeNameText")}}'
                                formControlName="destination_store_id">
                                <mat-option *ngFor="let rentalPoint of (rentalPoints$ | async)"
                                    [value]="rentalPoint.rentalpoint_id">
                                    {{rentalPoint.rentalpoint_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" *ngIf="DestinationForm.controls.destination_store_type.value == 4">
                <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                    <div fxFlex="25" fxLayoutAlign="end center">
                        <mat-label>{{languageService.getText("FsqNameText")}}</mat-label>
                    </div>
                    <div fxFlex="67.5" fxLayoutAlign="end center">
                        <mat-form-field [style.width.%]="89" appearance="outline">
                            <input matInput placeholder='{{languageService.getText("FsqNameText")}}'
                                formControlName="destination_store_id" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div fxFlex="7.5" fxLayoutAlign="start center">
                        <button type="button" mat-icon-button (click)="Search()">
                            <mat-icon color="primary">search</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="section-title primary-text">{{languageService.getText("sourceDetailsText")}}</div>
<div class="mat-elevation-z5 rounded-div">
    <div class="form-container">
        <form [formGroup]="SourceForm">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex="40" fxLayoutAlign="end center">
                    <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                        <div fxFlex="25" fxLayoutAlign="end center">
                            <mat-label>{{languageService.getText("cityText")}}</mat-label>
                        </div>
                        <div fxFlex="75" fxLayoutAlign="center center">
                            <mat-form-field [style.width.%]="80" appearance="outline">
                                <mat-select placeholder='{{languageService.getText("cityText")}}' [disabled]="true"
                                    formControlName="source_city_id">
                                    <mat-option *ngFor="let city of (cities$ | async)" (click)="CitySelected(city)"
                                        [value]="city.city_id">
                                        {{city.city_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxFlex="40" fxLayoutAlign="end center">
                    <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                        <div fxFlex="25" fxLayoutAlign="end center">
                            <mat-label>{{languageService.getText("ItemText")}}</mat-label>
                        </div>
                        <div fxFlex="75" fxLayoutAlign="center center">
                            <mat-form-field [style.width.%]="80" appearance="outline">
                                <mat-select placeholder='{{languageService.getText("ItemText")}}'
                                    formControlName="ItemType">
                                    <mat-option *ngFor="let Item of (ItemType$ | async)"
                                        [value]="Item.domain_code">
                                        {{Item.domain_value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxFlex="10" fxLayoutAlign="end center">
                    <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                        <div fxFlex="100" fxLayoutAlign="end end">
                            <button mat-raised-button color="primary" type="button"
                            (click)="ItemChange()" [disabled]="SourceForm.invalid">{{languageService.getText("Gettext")}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z5 rounded-table">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{languageService.getText("selectText")}}</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-checkbox (change)="ItemClick(element, $event.checked)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="item_tag">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{languageService.getText("ItemTag")}}</th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{element.item_tag}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="item_model">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{languageService.getText("ItemModel")}}</th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{element.item_model}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="item_make">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{languageService.getText("partManufacturerText")}}</th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{element.item_make}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="store_type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{languageService.getText("storeTypeText")}}</th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{element.store_type}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="store">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{languageService.getText("storeNameText")}}</th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{element.store}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="commissioning_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{languageService.getText("BatteryCommissioningDateText")}}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{element.commissioning_date | date: "medium"}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="item_status_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{languageService.getText("BatteryStatusText")}}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span>{{element.item_status_name}}</span>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 50]" class="mat-elevation-z5" [showFirstLastButtons]=true>
            </mat-paginator>
            <!-- <div fxLayout="row" fxLayoutAlign="center center" class="section-title" *ngIf="!!sourceSelection">
                <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                    <div fxFlex="25" fxLayoutAlign="end center">
                        <mat-label>{{languageService.getText("quantityText")}}</mat-label>
                    </div>
                    <div fxFlex="75" fxLayoutAlign="center center">
                        <mat-form-field [style.width.%]="80" appearance="outline">
                            <input matInput placeholder='{{languageService.getText("quantityText")}}'
                                formControlName="quantity" autocomplete="off">
                        </mat-form-field>
                    </div>
                </div>
            </div> -->
        </form>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="end center" [style.width.%]="100">
    <div fxFlex="75" fxLayoutAlign="center center">
        <div fxFlex="80" fxLayoutAlign="end center">
            <button mat-raised-button color="primary" type="button" class="button-margin" (click)="AddRequest()"
                [disabled]="DestinationForm.invalid || SourceForm.invalid || itemList.length<= 0">{{languageService.getText("AddText")}}</button>
            <button mat-raised-button color="accent" type="button" class="button-margin"
                (click)="Cancel()">{{languageService.getText("CancelText")}}</button>
        </div>
    </div>

</div>
