h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
  table {
    width: 100%;
}
.right-padding{
  padding-right: 10px;
}
.margin-top{
  margin-top: 20px;
}