<div class="section-title primary-text">{{languageService.getText("customerDetailsText")}}</div>
<div class="mat-elevation-z5 rounded-div" fxLayout="row wrap" fxLayoutGap="10px">
    <div fxFlex="0 1 calc(33.3% - 10px)" fxLayout="row" class="text-block div-right-border">
        <div fxFlex="30" fxLayoutAlign="start center" class="accent-text">{{languageService.getText("corporateCustomerfirstNameText")}}</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="accent-text">:</div>
        <div fxFlex="60" fxLayoutAlign="start center" *ngIf="!!(singleCustomer$ | async)"><b>{{(singleCustomer$ | async).customer_details.first_name}}</b></div>
    </div>
    <div fxFlex="0 1 calc(33.3% - 10px)" fxLayout="row" class="text-block div-right-border">
        <div fxFlex="30" fxLayoutAlign="start center" class="accent-text">{{languageService.getText("corporateCustomerlastNameText")}}</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="accent-text">:</div>
        <div fxFlex="60" fxLayoutAlign="start center" *ngIf="!!(singleCustomer$ | async)"><b>{{(singleCustomer$ | async).customer_details.last_name}}</b></div>
    </div>
    <div fxFlex="0 1 calc(33.3% - 10px)" fxLayout="row" class="text-block">
        <div fxFlex="30" fxLayoutAlign="start center" class="accent-text">{{languageService.getText("contactPhoneText")}}</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="accent-text">:</div>
        <div fxFlex="60" fxLayoutAlign="start center" *ngIf="!!(singleCustomer$ | async)"><b>{{(singleCustomer$ | async).customer_details.phone_no}}</b></div>
    </div>
    <div fxFlex="0 1 calc(33.3% - 10px)" fxLayout="row" class="text-block div-right-border">
        <div fxFlex="30" fxLayoutAlign="start center" class="accent-text">{{languageService.getText("emailIDText")}}</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="accent-text">:</div>
        <div fxFlex="60" fxLayoutAlign="start center" *ngIf="!!(singleCustomer$ | async)"><b>{{(singleCustomer$ | async).customer_details.email_id}}</b></div>
    </div>
    <div fxFlex="0 1 calc(33.3% - 10px)" fxLayout="row" class="text-block div-right-border">
        <div fxFlex="30" fxLayoutAlign="start center" class="accent-text">{{languageService.getText("emailVerficationText")}}</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="accent-text">:</div>
        <div fxFlex="60" fxLayoutAlign="start center" *ngIf="!!(singleCustomer$ | async)"><b>{{(singleCustomer$ | async).customer_details.email_verify_status_name}}</b></div>
    </div>
    <div fxFlex="0 1 calc(33.3% - 10px)" fxLayout="row" class="text-block">
        <div fxFlex="30" fxLayoutAlign="start center" class="accent-text">{{languageService.getText("corporateProfileText")}}</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="accent-text">:</div>
        <div fxFlex="60" fxLayoutAlign="start center" *ngIf="!!(singleCustomer$ | async)"><b>{{(singleCustomer$ | async).customer_details.corporate_enabled_name}}</b></div>
    </div>
    <div fxFlex="0 1 calc(33.3% - 10px)" fxLayout="row" class="text-block div-right-border">
        <div fxFlex="30" fxLayoutAlign="start center" class="accent-text">{{languageService.getText("dpinStatusText")}}</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="accent-text">:</div>
        <div fxFlex="60" fxLayoutAlign="start center" *ngIf="!!(singleCustomer$ | async)"><b>{{(singleCustomer$ | async).customer_details.dpin_status_name}}</b></div>
    </div>
    <div fxFlex="0 1 calc(33.3% - 10px)" fxLayout="row" class="text-block div-right-border">
        <div fxFlex="30" fxLayoutAlign="start center" class="accent-text">{{languageService.getText("kycStatusText")}}</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="accent-text">:</div>
        <div fxFlex="60" fxLayoutAlign="start center" *ngIf="!!(singleCustomer$ | async)"><b>{{(singleCustomer$ | async).customer_details.kyc_status_name}}</b></div>
    </div>
    <div fxFlex="0 1 calc(33.3% - 10px)" fxLayout="row" class="text-block">
        <div fxFlex="30" fxLayoutAlign="start center" class="accent-text">{{languageService.getText("statusNameText")}}</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="accent-text">:</div>
        <div fxFlex="60" fxLayoutAlign="start center" *ngIf="!!(singleCustomer$ | async)"><b>{{(singleCustomer$ | async).customer_details.status_name}}</b></div>
    </div>
    <div fxFlex="0 1 calc(33.3% - 10px)" fxLayout="row" class="text-block div-right-border">
        <div fxFlex="30" fxLayoutAlign="start center" class="accent-text">{{languageService.getText("customerCurrentStateText")}}</div>
        <div fxFlex="10" fxLayoutAlign="center center" class="accent-text">:</div>
        <div fxFlex="60" fxLayoutAlign="start center" *ngIf="!!(singleCustomer$ | async)"><b>{{(singleCustomer$ | async).customer_details.action_code_name}}</b></div>
    </div>
</div>
<div class="mat-elevation-z5 rounded-div" fxLayout="row" *ngFor="let docurl of (docurl$ | async)">
    <div fxFlex="30" fxLayoutAlign="start center" class="accent-text">
        <b>{{docurl.document_type_name}}</b>
    </div>
    <div fxFlex="10" fxLayoutAlign="center center" class="accent-text">:</div>
    <div fxFlex="60" fxLayoutAlign="start center">
        <a href="{{docurl.kyc_docurl}}">
            <b>Link</b>
        </a>
    </div>
</div>
<div class="form-container">
    <div fxLayout="row" [style.width.%]="100">

        <div fxFlex="100" fxLayoutAlign="end center">
<div fxFlex="80" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" type="button" class="button-margin" *ngIf="!!(singleCustomer$ | async) && (singleCustomer$ | async).customer_details.kyc_status == 0"
        (click)="approve()" >{{languageService.getText("approveButtonText")}}</button>
   
</div>
</div>
    </div>
</div>
