.text-block {
    padding: 5px 5px;
}

.div-right-border {
    border-right: 0.5px solid lightgray;
}

table {
    width: 100%;
}

.mapcard {
    margin: 10px 0px;
    padding: 10px;
    height: 40%;
    border-radius: 15px;
}

.button-float-right{
    text-align: right;
}
.title-align{
    text-align: center;
}
.sample-margin{
    margin: 30px;
}
.text-margin{
    margin: 5px;
}