<div fxLayout="row" fxLayoutAlign="start center" class="button-filter-container">
    <div fxFlex="20">
        <button mat-raised-button color="primary" (click)="addDevices()">
            {{languageService.getText("addDevice")}}</button>
    </div>
    <div fxFlex="60" class="search-bar-container">
        <mat-form-field appearance="outline" novalidate>
            <input matInput (keyup)="applyFilter($event.target.value)" class="search-input"
                placeholder='{{languageService.getText("SearchDevicePlaceholderText")}}' autocomplete="off">
            <mat-icon matPrefix color="primary">search</mat-icon>
        </mat-form-field>
    </div>
    <div fxFlex="20">
        <mat-checkbox (change)="ShowHideInactive($event.source.checked)" >{{languageService.getText("ShowInactiveDeviceText")}}</mat-checkbox>
    </div>
</div>
<div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z5 rounded-table">

        <!-- <ng-container matColumnDef="device_make">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{languageService.getText("DeviceMakeText")}}
            </th>
            <td mat-cell *matCellDef="let aiDevice"> {{aiDevice.device_make}} </td>
        </ng-container> -->
        <ng-container matColumnDef="device_model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{languageService.getText("DeviceModelText")}}
            </th>
            <td mat-cell *matCellDef="let aiDevice"> {{aiDevice.device_model_name}} </td>
        </ng-container>
        <ng-container matColumnDef="device_code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{languageService.getText("DeviceTagText")}}
            </th>
            <td mat-cell *matCellDef="let aiDevice"> {{aiDevice.device_code}} </td>
        </ng-container>
        <!-- <ng-container matColumnDef="country_of_origin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{languageService.getText("CountryOriginText")}}
            </th>
            <td mat-cell *matCellDef="let aiDevice"> {{aiDevice.country_of_origin_name}} </td>
        </ng-container> -->
        <ng-container matColumnDef="device_imei">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{languageService.getText("DeviceImeiText")}}
            </th>
            <td mat-cell *matCellDef="let aiDevice"> {{aiDevice.device_imei}} </td>
        </ng-container>
        <ng-container matColumnDef="device_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{languageService.getText("DeviceNameText")}}
            </th>
            <td mat-cell *matCellDef="let aiDevice"> {{aiDevice.device_name}} </td>
        </ng-container>
        <!-- <ng-container matColumnDef="country_of_origin_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{languageService.getText("BatteryOriginBatteryText")}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.country_of_origin_name}} </td>
        </ng-container> -->
        <ng-container matColumnDef="city_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{languageService.getText("cityNameHeader")}} </th>
            <td mat-cell *matCellDef="let element"> {{element.city_name}} </td>
        </ng-container>
        <ng-container matColumnDef="region_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{languageService.getText("regionText")}} </th>
            <td mat-cell *matCellDef="let element"> {{element.region_name}} </td>
        </ng-container>
        <!-- <ng-container matColumnDef="manufacturing_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{languageService.getText("ManufacturingdateText")}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.manufacturing_date | date}} </td>
        </ng-container> -->

        <ng-container matColumnDef="commissioning_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{languageService.getText("CommissioningdateText")}}
            </th>
            <td mat-cell *matCellDef="let aiDevice"> {{aiDevice.commissioning_date | date}} </td>
        </ng-container>
        <ng-container matColumnDef="device_status_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{languageService.getText("DevicestatusnameText")}}
            </th>
            <td mat-cell *matCellDef="let aiDevice"> {{aiDevice.device_status_name}} </td>
        </ng-container>
        <ng-container matColumnDef="store_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{languageService.getText("AssigneeTypeText")}} </th>
            <td mat-cell *matCellDef="let element"> 
                {{element.store_type}} 
            </td>
        </ng-container>
        <ng-container matColumnDef="store_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{languageService.getText("AssignedToText")}} </th>
            <td mat-cell *matCellDef="let element"> 
                {{element.store_name}} 
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
                {{languageService.getText("ActionText")}}
            </th>
            <td mat-cell *matCellDef="let aiDevice">
                <button matTooltip="Edit" mat-icon-button color="accent"
                    (click)="editDevice(aiDevice.device_id)"><mat-icon> edit </mat-icon></button>
                <button matTooltip="Delete" mat-icon-button color="warn"
                    (click)="deleteDevice(aiDevice.device_id)"><mat-icon> delete </mat-icon></button>
                <button matTooltip="Transactions" mat-icon-button color="primary"
                    (click)="getDeviceTransactions(aiDevice.device_id)"> <mat-icon> toc </mat-icon> </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]" [showFirstLastButtons]="true" class="mat-elevation-z5"></mat-paginator>
</div>