<div fxLayout="row" fxLayoutAlign="start center" class="button-filter-container">
    <div fxFlex="20">
    <button mat-raised-button color="primary" (click)="openBottomSheet()">{{languageService.getText("AddNewAssetText")}}</button>
    </div>
    <div fxFlex="70" fxLayoutGap="5px" class="search-bar-container">
        <form [formGroup]="Filter">
            <mat-form-field appearance="outline" novalidate [style.width.%]="40">
                <input matInput class="search-input" (keyup)="applyFilter($event.target.value)"
                    placeholder='{{languageService.getText("SearchText")}}'>
                <mat-icon matPrefix color="primary">search</mat-icon>
            </mat-form-field>
            <mat-form-field [style.width.%]="25" appearance="outline" novalidate>
                <mat-select placeholder='{{languageService.getText("ownershipType")}}' (selectionChange)="filter()"
                    formControlName="wonership">
                    <mat-option value=0>{{languageService.getText("allOwnershipType")}}</mat-option>
                    <mat-option *ngFor="let type of (ownership_types$ | async)" [value]="type.domain_code">
                        {{type.domain_value}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field [style.width.%]="25" appearance="outline" novalidate>
                <mat-select placeholder='{{languageService.getText("fanplaceholder")}}'
                    [disabled]="frnchiseDisable" formControlName="franchise" (selectionChange)="filter()">
                    <mat-option value=0>{{languageService.getText("allFranchise")}}</mat-option>
                    <mat-option *ngFor="let fun of (franchise$ | async)" [value]="fun.admn_partner_id">
                        {{fun.franchise_name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div fxFlex="10" fxLayoutGap="5px" class="search-bar-container">
        <button mat-raised-button color="accent"
        (click)="PartsDefinition()">{{languageService.getText("partsDefinitionText")}}</button>
    </div>
    <!-- <div fxFlex="20">
        <button mat-raised-button color="accent" (click)="PartsDefinition()">{{languageService.getText("partsDefinitionText")}}</button>
    </div> -->
</div>
<div>
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z5 rounded-table">
        <ng-container matColumnDef="vehicle_idnumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{languageService.getText("VehicleIdText")}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.vehicle_idnumber}} </td>
        </ng-container>
        <ng-container matColumnDef="chassis_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{languageService.getText("ChassisNumberText")}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.chassis_number}} </td>
        </ng-container>
        <ng-container matColumnDef="manufacturer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
               {{languageService.getText("ManufacturerText")}} 
            </th>
            <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
        </ng-container>
        <ng-container matColumnDef="ownership_type_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
               {{languageService.getText("ownershipTypeName")}} 
            </th>
            <td mat-cell *matCellDef="let element"> {{element.ownership_type_name}} </td>
        </ng-container>
        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{languageService.getText("ModelText")}}  
            </th>
            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
        </ng-container>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{languageService.getText("CodeText")}}  
            </th>
            <td mat-cell *matCellDef="let element"> {{element.vehicle_assetcode}} </td>
        </ng-container> 

        <ng-container matColumnDef="manufacture_date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
               {{languageService.getText("ManufacturedateText")}} 
            </th>
            <td mat-cell *matCellDef="let element"> {{element.manufacture_date | date}} </td>
        </ng-container>
        <!--<ng-container matColumnDef="vehicle_status_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
               {{languageService.getText("StatusText")}} 
            </th>
            <td mat-cell *matCellDef="let element"> {{element.vehicle_status_name}} </td>
        </ng-container>-->
        <ng-container matColumnDef="vehicle_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
               {{languageService.getText("vehicleType")}} 
            </th>
            <td mat-cell *matCellDef="let element"> {{element.vehicle_type}} </td>
        </ng-container>
         <ng-container matColumnDef="imei_number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{languageService.getText("ImeiText")}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.imei_number}} </td>
        </ng-container> 
        <ng-container matColumnDef="vehicle_status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                {{languageService.getText("vehicleStatus")}}
            </th>
            <td mat-cell *matCellDef="let element"> {{element.vehicle_status}} </td>
        </ng-container> 
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>
               {{languageService.getText("ActionText")}}
            </th>
            <td mat-cell *matCellDef="let element"> 
                <button matTooltip="Edit" mat-icon-button color="accent" (click)="editVehicle(element.vehicle_id)"> <mat-icon> edit </mat-icon> </button>
                <button matTooltip="View" mat-icon-button color="accent" (click)="viewDetails(element.vehicle_id)"> <mat-icon> visibility </mat-icon> </button>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]" [showFirstLastButtons]="true" class="mat-elevation-z5"></mat-paginator>
</div>