<h2>Add Accessory</h2>
<!-- 
<mat-label>Vehicle Type</mat-label>
<mat-form-field appearance="outline">
    <mat-label>Add Vehicle Type</mat-label>
    <mat-select>
      <mat-option *ngFor="let element of element" [value]="element.value">
        {{element.viewValue}}
      </mat-option>
    </mat-select>
</mat-form-field>
<br><br>
<mat-label>Accessory Type</mat-label>
<mat-form-field appearance="outline">
    <mat-label>Add Accessory Type</mat-label>
    <mat-select>
      <mat-option *ngFor="let element of element" [value]="element.value">
        {{element.viewValue}}
      </mat-option>
    </mat-select>
</mat-form-field>

<div class="button-row">
    <button mat-raised-button color="primary">Add</button>
    <button mat-raised-button color="primary">Add Another</button>
    <button mat-raised-button color="accent">Cancel</button>
</div> -->
