table {
    width: 100%;
    }

.button-float-right{
    text-align: right;
    }
    
.text-block {
   padding: 5px 5px;
    }
    
.div-right-border {
    border-right: 0.5px solid lightgray;
    }
    