<h3 class="primary-text">{{languageService.getText("EditCorporateUserHeaderText")}}</h3>
<div>
    <div fxFlex="100" fxLayoutAlign="center center">
        <h3 class="primary-text">{{languageService.getText("corporateFormHeaderText")}}</h3>
    </div>
</div>
<div class="form-container">
    <form [formGroup]="editCorporateForm">
        <div fxLayout="row" fxLayoutAlign="end end">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="30">
                <!-- <mat-form-field appearance="outline"> -->
                    <mat-checkbox formControlName="ontrip_maintenance" (change)="OnTripMaintenanceCheck($event.source.checked)">On-Trip Maintenance</mat-checkbox>
                <!-- </mat-form-field> -->
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("partnerTypeText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <mat-select formControlName="partner_type"
                            placeholder='{{languageService.getText("partnerTypeText")}}' (selectionChange)="OnChange($event.value)">
                            <mat-option *ngFor="let partnertype of (partnerType$ | async)"
                                [value]="partnertype.domain_code"> {{partnertype.domain_text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("partnerCodeText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("partnerCodeText")}}'
                            formControlName="partner_code" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("partnerNameText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("partnerNameText")}}'
                            formControlName="partner_name" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("partnerCategoryText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <mat-select formControlName="partner_category"
                            placeholder='{{languageService.getText("partnerCategoryText")}}'>
                            <mat-option *ngFor="let partnerCategory of (partnerCategory$ | async)"
                                [value]="partnerCategory.domain_code">{{partnerCategory.domain_text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("companyNameText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("companyNameText")}}'
                            formControlName="company_name" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("addressLine1Text")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("addressLine1Text")}}'
                            formControlName="addressline1" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("addressLine2Text")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("addressLine2Text")}}'
                            formControlName="addressline2" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("countryText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <mat-select formControlName="country"
                            placeholder='{{languageService.getText("countryText")}}'>
                            <mat-option *ngFor="let countries of (countries$ | async)" [value]="countries.countries_id">
                                {{countries.countries_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                    <div fxFlex="25" fxLayoutAlign="end center">
                        <mat-label>{{languageService.getText("tableHeaderStateText")}}</mat-label>
                    </div>
                    <div fxFlex="75" fxLayoutAlign="center center">
                        <mat-form-field [style.width.%]="80" appearance="outline">
                            <mat-select placeholder='{{languageService.getText("tableHeaderStateText")}}'
                                formControlName="state">
                                <mat-option *ngFor="let statesName of (statesName$ | async)"
                                    [value]="statesName.states_id">
                                    {{statesName.states_name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                    <div fxFlex="25" fxLayoutAlign="end center">
                        <mat-label>{{languageService.getText("cityNameHeader")}}</mat-label>
                    </div>
                    <div fxFlex="75" fxLayoutAlign="center center">
                        <mat-form-field [style.width.%]="80" appearance="outline">
                            <mat-select formControlName="city"
                                placeholder='{{languageService.getText("cityNameHeader")}}'>
                                <mat-option *ngFor="let element of (cities$ | async)"
                                    [value]="element.city_id">
                                    {{element.city_name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("pintext")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("pintext")}}'
                            formControlName="pin" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("contactPersonFirstnameText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("contactPersonFirstnameText")}}'
                            formControlName="contact_person_firstname" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("contactPersonLastnameText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("contactPersonLastnameText")}}'
                            formControlName="contact_person_lastname" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("contactPhoneText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("contactPhoneText")}}'
                            formControlName="contact_phone" autocomplete="off" >                          
                    </mat-form-field>
                    <mat-error position="floating" color="danger" style="font-size:12px" *ngIf="this.editCorporateForm.controls.contact_phone.dirty">
                        {{languageService.getText("ChangeContactEmailText")}}
                    </mat-error>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("contactEmailText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("contactEmailText")}}'
                            formControlName="contact_email" autocomplete="off">
                    </mat-form-field>
                    <mat-error position="floating" color="danger" style="font-size:12px" *ngIf="this.editCorporateForm.controls.contact_email.dirty">
                        {{languageService.getText("ChangeContactPhoneText")}}
                    </mat-error> 
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("contactPersonDesignationText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("contactPersonDesignationText")}}'
                            formControlName="contact_person_designation" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("corporateBillingNameText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("corporateBillingNameText")}}'
                            formControlName="billing_name" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("pannumberText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("pannumberText")}}'
                            formControlName="pan" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("gstnumberText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("gstnumberText")}}'
                            formControlName="gst_numbers" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("corporateSizeText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <mat-select formControlName="corporate_size"
                            placeholder='{{languageService.getText("corporateSizeText")}}'>
                            <mat-option *ngFor="let corporateSize of (corporateSize$ | async)" [value]="corporateSize.domain_code">{{corporateSize.domain_text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("corporateContractText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <mat-select formControlName="corporate_contract"
                            placeholder='{{languageService.getText("corporateContractText")}}'>
                            <mat-option *ngFor="let corporateContract of (corporateContract$ | async)" [value]="corporateContract.domain_code">{{corporateContract.domain_text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div>
            <div fxFlex="100" fxLayoutAlign="center center">
                <h3 class="primary-text">{{languageService.getText("bankDetails")}}</h3>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("accountHolderName")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("accountHolderName")}}'
                            formControlName="account_holder_name" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("accountNo")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("accountNo")}}'
                            formControlName="account_no" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("ifscCode")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("ifscCode")}}'
                            formControlName="ifsc_code" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("cinNo")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("cinNo")}}'
                            formControlName="cin_no" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("BankName")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("BankName")}}'
                            formControlName="bank_name" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("BranchName")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("BranchName")}}'
                            formControlName="branch_name" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("BankAddress")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <textarea matInput placeholder='{{languageService.getText("BankAddress")}}'
                            formControlName="bank_address" autocomplete="off"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("paymentTermText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("paymentTermText")}}'
                            formControlName="payment_term" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div *ngIf="pricing_details">
        <form [formGroup]="corporatePricingForm">
        <mat-divider></mat-divider>
        <div>
            <div fxFlex="100" fxLayoutAlign="center center">
                <h3 class="primary-text">{{languageService.getText("pricingFormHeaderText")}}</h3>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("billingNameText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <mat-select formControlName="billing_type"
                            placeholder='{{languageService.getText("billingNameText")}}'>
                            <mat-option *ngFor="let billingType of (billing$ | async)" [value]="billingType.domain_code" (click)="BillSelection(billingType.domain_code)">{{billingType.domain_text}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("billGenerationFrequencyText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <!-- <input matInput placeholder='{{languageService.getText("billGenerationFrequencyText")}}'
                            formControlName="bill_generation_frequency" autocomplete="off"> -->
                        <mat-select formControlName="bill_generation_frequency" placeholder='{{languageService.getText("billGenerationFrequencyText")}}'>
                            <mat-option *ngFor="let bill_generation_frequency of (filteredpaymentTerm$ | async)" [value]="bill_generation_frequency.domain_code">{{bill_generation_frequency.domain_value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("minimumWalletBalanceText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("minimumWalletBalanceText")}}'
                            formControlName="minimum_wallet_balance" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        </form>
        </div>
        <div fxLayout="row" [style.width.%]="100">
            <div fxFlex="25" fxLayoutAlign="end center">
                <mat-label>{{languageService.getText("updatedOnText")}}: </mat-label>
                <span>{{updatedOn | date }}</span>
            </div>
            <div fxFlex="75" fxLayoutAlign="center center">
                <div fxFlex="80" fxLayoutAlign="end center">
                    <button mat-raised-button color="accent" (click)="cancelCorporate()" class="button-margin"
                        type="button">{{languageService.getText("cancelButtonText")}}</button>
                        <button mat-raised-button color="primary" [disabled]="editCorporateForm.invalid || corporatePricingForm.invalid" type="button" class="button-margin"
                        (click)="editCorporate()">{{languageService.getText("SaveText")}}</button>
                </div>
            </div>
        </div>
    </form>
</div>