<div class="section-title primary-text">{{languageService.getText("changeMobileNumberText")}}</div>

<div class="form-container">
    <form [formGroup]="ChangeMobileNoForm">
        <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("passwordText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("passwordText")}}'
                            formControlName="password" type="password" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label> {{languageService.getText("newMobileNoText")}} </mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("newMobileNoText")}}'
                            formControlName="new_mobile_no" type="text" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" [style.width.%]="100">
            <div fxFlex="25" fxLayoutAlign="end center"></div>
            <div fxFlex="75" fxLayoutAlign="center center">
                <div fxFlex="80" fxLayoutAlign="end center">
                    <button mat-raised-button color="accent" (click)="cancelChangeMobileNo()" class="button-margin"
                        type="button">{{languageService.getText("cancelButtonText")}}</button>
                    <button mat-raised-button color="primary" (click)="ChangeMobileNo()"
                        [disabled]="ChangeMobileNoForm.invalid" type="button"
                        class="button-margin">{{languageService.getText("SaveText")}}</button>
                </div>
            </div>
        </div>
    </form>
</div>