<app-maintenance-jobs-main
[maintenanceJobs$]="maintenanceJobs$"
[countries$]="countries$"
[problemStatusList$]="problemStatusList$"
[regions$]="regions$"
[rentalPointList$]="rentalPointList$"
[states$]="states$"
[vehicles$]="vehicles$"
[fsqLevelList$]="fsqLevelList$"
[cities$]="cities$"
[activeBeus$]="activeBeus$"
[beu_id]="beu_id"
(filterMaintenanceData)="FilterMaintenanceData($event)"
(view)="View($event)"
(create)="Create()"
(regionSelected)="RegionSelected($event)"></app-maintenance-jobs-main>
