<app-parts-transactions *ngIf="!!(partsMasters$ | async)" [transactions$]="transactions$"
[partsMasters$]="partsMasters$"
[partsStatuses$]="partsStatuses$"
[regions$]="regions$"
[rentalPoints$]="rentalPoints$"
[storeTypes$]="storeTypes$"
[city$]="city$"
[singleFsq$]="singleFsq$"
[parts_master_id]="parts_master_id"
[region_id]="region_id"
[store_type]="store_type"
[store_id]="store_id"
[status]="status"
(filter)="FilterData($event)"
(regionSelected)="SelectedRegion($event)"></app-parts-transactions>
