<div class="section-title primary-text">{{languageService.getText("changePasswordButtonText")}}</div>


<div class="form-container">
    <form [formGroup]="FirsttimechangePasswordForm">
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("newPassWordText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("newPassWordText")}}'
                            formControlName="new_password" type="password" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("confirmpasswordText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("confirmpasswordText")}}'
                            formControlName="confirm_password" type="password" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-error position="floating" color="danger" *ngIf="!!FirsttimechangePasswordForm.errors && FirsttimechangePasswordForm.errors.pw_mismatch">
                        {{languageService.getText("passwordMismatch")}}
                    </mat-error> 
                </div>
            </div>
        </div>
        <div fxLayout="row" [style.width.%]="100">
            <div fxFlex="25" fxLayoutAlign="end center"></div>
            <div fxFlex="75" fxLayoutAlign="center center">
                <div fxFlex="80" fxLayoutAlign="end center">
                    <button mat-raised-button color="accent" (click)="cancelChangePassword()" class="button-margin"
                        type="button">{{languageService.getText("cancelButtonText")}}</button>
                    <button mat-raised-button color="primary" (click)="FirstTimeChangePassword()"
                        [disabled]="FirsttimechangePasswordForm.invalid" type="button"
                        class="button-margin">{{languageService.getText("SaveText")}}</button>
                </div>
            </div>
        </div>
    </form>
</div>