<div class="form-container">
    <form [formGroup]="fsqHubForm">
        <div class="section-title primary-text">{{languageService.getText("HubdetailText")}}</div>
     
        <div class="mat-elevation-z5 rounded-div" fxLayout="column wrap" fxLayoutGap="10px">

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("hubShortcodeText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("hubShortcodeText")}}' autocomplete="off"
                            formControlName="hub_short_code">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("HubnameText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("HubnameText")}}' autocomplete="off"
                            formControlName="hub_name">
                    </mat-form-field>
                </div>
            </div>
        </div>


        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("AddressLine1Text")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("AddressLine1Placeholder")}}'
                            formControlName="addressline1" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("AddressLine2Text")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("AddressLine2Placeholder")}}'
                            formControlName="addressline2" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("CountryText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <mat-select formControlName="country_id"
                            placeholder='{{languageService.getText("CountryPlaceHolderText")}}'>
                            <mat-option *ngFor="let countriesName of (countriesName$ | async)" [value]="countriesName.countries_id">
                                {{countriesName.countries_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("StateText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <mat-select formControlName="state_id"
                            placeholder='{{languageService.getText("StatePlaceHolderText")}}'>
                            <mat-option *ngFor="let statesName of (statesName$ | async)" [value]="statesName.states_id">
                                {{statesName.states_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("cityNameHeader")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <mat-select formControlName="city_id"
                            placeholder='{{languageService.getText("cityNameHeader")}}'>
                            <mat-option *ngFor="let element of (cities$ | async)"
                                [value]="element.city_id">
                                {{element.city_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("PostalCode")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                        <input matInput placeholder='{{languageService.getText("PostalCodePlaceHolsderText")}}'
                            formControlName="pin" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                <div fxFlex="25" fxLayoutAlign="end center">
                    <mat-label>{{languageService.getText("FSQHubstatusText")}}</mat-label>
                </div>
                <div fxFlex="75" fxLayoutAlign="center center">
                    <mat-form-field [style.width.%]="80" appearance="outline">
                            <mat-select formControlName="hub_status"
                            placeholder='{{languageService.getText("FSQHubstatusText")}}'>
                            <mat-option *ngFor="let statusName of (HubstatusName$ | async)"
                                [value]="statusName.domain_code">
                                {{statusName.domain_value}}</mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
            </div>
        </div>

        </div>
    </form>

</div>

        <div class="form-container">
            <form [formGroup]="fsqHubRegionForm">
        <div class="section-title primary-text">{{languageService.getText("RegiondetailText")}}</div>
     
        <div class="mat-elevation-z5 rounded-div" fxLayout="column wrap" fxLayoutGap="10px">

            <div fxLayout="row" fxLayoutAlign="start center" class="button-filter-container">
                <div fxFlex="20">
                   
                </div>
                <div fxFlex="60" class="search-bar-container">
                    <mat-form-field appearance="outline" novalidate>
                        <input matInput (keyup)="applyFilter($event.target.value)" class="search-input"
                            placeholder='{{languageService.getText("SearchRegionPlaceholderText")}}' autocomplete="off">
                        <mat-icon matPrefix color="primary">search</mat-icon>
                    </mat-form-field>
                </div>
                <div fxFlex="20">
                    <!-- <mat-checkbox (change)="ShowHideInactiveRegion($event.source.checked)" >{{languageService.getText("ShowInactiveRegionText")}}</mat-checkbox> -->
                </div>
            </div>

            <div>
                <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z5 rounded-table">
            
                    <ng-container matColumnDef="region_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{languageService.getText("hubregionNameText")}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.region_name}} </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="start_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{languageService.getText("hubStartDateText")}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="end_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{languageService.getText("hubendDateText")}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.end_date}} </td>
                    </ng-container> -->

                    <!-- <ng-container matColumnDef="hub_region_status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{languageService.getText("hubRegionstatusText")}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.hub_region_status}} </td>
                    </ng-container> -->

                    <!-- <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{languageService.getText("ActionText")}}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="accent"
                            (click)="clear(element.action)">{{languageService.getText("ClearText")}}</button>    
                            <mat-icon>close</mat-icon>
                        </td>
                    </ng-container> -->

                    <!-- <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>{{languageService.getText("ActionText")}} </th>
                        <td mat-cell *matCellDef="let element;  let j = index;"> 
                            <button mat-raised-button  color="warn" focusable="false" (click)="deleteTicket(j)">
                                <i class="fa fa-times mat-icon"></i> Remove
                              </button>
                        </td>
                      </ng-container> -->
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            {{languageService.getText("ActionText")}}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="accent"
                                (click)="removeRegion(element)">{{languageService.getText("RemoveText")}}</button>
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <!-- <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 50]" [showFirstLastButtons]=true class="mat-elevation-z5"></mat-paginator> -->
            </div>

            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                    <div fxFlex="20" fxLayoutAlign="end center">
                        <mat-label>{{languageService.getText("regionText")}}</mat-label>
                    </div>
                    <div fxFlex="60" fxLayoutAlign="center center">
                        <mat-form-field [style.width.%]="80" appearance="outline">
                                <mat-select formControlName="hub_region"
                                placeholder='{{languageService.getText("regionText")}}'>
                                <mat-option *ngFor="let availableRegions of (FilterRegion)"
                                    [value]="availableRegions.region_id">
                                    {{availableRegions.region_name}}</mat-option>
                            </mat-select>
    
                        </mat-form-field>
                    </div>
                    <div fxFlex="20" fxLayoutAlign="center center">
                        <button mat-raised-button color="primary" type="button" 
                       class="button-margin"
                        (click)="addFSQHubRegion()">{{languageService.getText("AddText")}}</button> 
                    </div>
                </div>
            </div> 
      
            <!-- <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                    <div fxFlex="25" fxLayoutAlign="end center">
                        <mat-label>{{languageService.getText("regionText")}}</mat-label>
                    </div>
                    <div fxFlex="75" fxLayoutAlign="center center">
                        <mat-form-field [style.width.%]="80" appearance="outline">
                            <input matInput placeholder='Choose {{languageService.getText("regionText")}}'
                                [matAutocomplete]="autoRegion" formControlName="region">
                            <mat-autocomplete #autoRegion="matAutocomplete" [displayWith]="displayFnRegions.bind(this)"
                                (optionSelected)="showRegions($event)">
                                <mat-option *ngFor="let region of filteredRegions$ | async" [value]="region.region_id">
                                    {{region.region_name}} - {{region.region_code}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
            </div>
    
    
    
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                    <div fxFlex="25" fxLayoutAlign="end center">
                        <mat-label>{{languageService.getText("selectedregionText")}}</mat-label>
                    </div>
                    <div fxFlex="75" fxLayoutAlign="center center">
                        <mat-form-field [style.width.%]="80" appearance="outline" novalidate>
                            <mat-chip-list #chipList aria-label="Region List">
                                <mat-chip *ngFor="let region of regionsList" [selectable]="selectable"
                                    [removable]="removable" (removed)="removeRegions(region)">
                                    {{showRegion(region.region_id).region_name}}
                                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
    
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                </div>
            </div> -->
        </div>
    </form>

</div>

        <div class="form-container">
            <form [formGroup]="fsqHubManagerForm">
        <div class="section-title primary-text">{{languageService.getText("HubuserText")}}</div>
     
        <div class="mat-elevation-z5 rounded-div" fxLayout="column wrap" fxLayoutGap="10px">

            <div fxLayout="row" fxLayoutAlign="start center" class="button-filter-container">
                <div fxFlex="20">
                   
                </div>
                <div fxFlex="60" class="search-bar-container">
                    <mat-form-field appearance="outline" novalidate>
                        <input matInput (keyup)="applyFilter($event.target.value)" class="search-input"
                            placeholder='{{languageService.getText("SearchManagerPlaceholderText")}}' autocomplete="off">
                        <mat-icon matPrefix color="primary">search</mat-icon>
                    </mat-form-field>
                </div>
                <div fxFlex="20">
                    <!-- <mat-checkbox (change)="ShowHideInactiveManager($event.source.checked)" >{{languageService.getText("ShowInactiveManagerText")}}</mat-checkbox> -->
                </div>
            </div>

            <div>
                <table mat-table matSort [dataSource]="dataSource1" class="mat-elevation-z5 rounded-table">
            
                    <ng-container matColumnDef="manager_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{languageService.getText("hubmanagerNameText")}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.manager_name}} </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="start_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{languageService.getText("hubStartDateText")}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.start_date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="end_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{languageService.getText("hubendDateText")}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.end_date}} </td>
                    </ng-container> -->

                    <!-- <ng-container matColumnDef="hub_manager_status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{languageService.getText("hubManagerstatusText")}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.hub_manager_status}} </td>
                    </ng-container> -->
            
                    <!-- <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{languageService.getText("ActionText")}}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="accent"
                            (click)="clear(element.action)">{{languageService.getText("ClearText")}}</button>    
                        </td>
                    </ng-container> -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            {{languageService.getText("ActionText")}}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="accent"
                                (click)="removeManager(element)">{{languageService.getText("RemoveText")}}</button>
                        </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsmanager"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsmanager;"></tr>
                </table>
                <!-- <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20, 50]" [showFirstLastButtons]=true class="mat-elevation-z5"></mat-paginator> -->
            </div>

            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center" [style.width.%]="100">
                    <div fxFlex="20" fxLayoutAlign="end center">
                        <mat-label>{{languageService.getText("managerText")}}</mat-label>
                    </div>
                    <div fxFlex="60" fxLayoutAlign="center center">
                        <mat-form-field [style.width.%]="80" appearance="outline">
                                <mat-select formControlName="hub_manager"
                                placeholder='{{languageService.getText("managerText")}}'>
                                <mat-option *ngFor="let availableManagers of (FilterManager)"
                                    [value]="availableManagers.admn_user_id">
                                    {{availableManagers.manager_name}}</mat-option>
                            </mat-select>
    
                        </mat-form-field>
                    </div>

                    <div fxFlex="20" fxLayoutAlign="center center">
                        <button mat-raised-button color="primary" type="button" 
                       class="button-margin"
                        (click)="addFSQHubManager()">{{languageService.getText("AddText")}}</button> 
                    </div>
                    
                </div>
            </div>


        </div>


        <div fxLayout="row" [style.width.%]="100">
            <div fxFlex="25" fxLayoutAlign="end center"></div>
            <div fxFlex="75" fxLayoutAlign="center center">
                <div fxFlex="80" fxLayoutAlign="end center">
                    <button mat-raised-button color="accent" type="button" class="button-margin"
                    (click)="cancelAddFSQHub()">{{languageService.getText("CancelText")}}</button>
                    
                    <button mat-raised-button color="primary" type="button" [disabled]="fsqHubForm.invalid"
                    [class.blank-panel]="this.fsqHubManagerForm.invalid  || this.fsqHubRegionForm.invalid  || this.fsqHubForm.invalid "  class="button-margin"
                    (click)="addFSQHub()">{{languageService.getText("AddText")}}</button> 

                </div>
            </div>
        </div>

    </form>

</div>